.info-price {
  padding: 100px 100px 395px;

  @media screen and (max-width: 1440px) {
    padding: 100px 80px 395px;
  }

  @media screen and (max-width: 1024px) {
    padding: 80px 60px 400px;
  }

  @media screen and (max-width: 744px) {
    padding: 60px 16px 190px;
  }

  &__title {
    font-size: 34px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0.68px;
    margin-bottom: 20px;

    @media screen and (max-width: 1024px) {
      margin-bottom: 50px;
    }

    @media screen and (max-width: 744px) {
      font-size: 30px;
      font-weight: 300;
      letter-spacing: 0.6px;
      margin-bottom: 40px;
    }
  }

  &__cards,
  &__tariff-cards {
    display: flex;
    flex-wrap: wrap;
  }

  &__tariff-cards {
    margin-top: 35px;

    @media screen and (max-width: 1024px) {
      flex-direction: column;
      height: 913px;
    }

    @media screen and (max-width: 744px) {
      flex-direction: column;
      height: auto;
    }
  }
}
