.profile {
  padding: 130px 100px 500px;
  min-height: calc(100vh - 200px);

  @media screen and (max-width: 1440px) {
    padding: 160px 80px 500px;
  }

  @media screen and (max-width: 1024px) {
    padding: 156px 60px 500px;
  }

  @media screen and (max-width: 744px) {
    padding: 70px 16px 200px;
    min-height: calc(100vh - 234px);
  }

  &__title {
    font-size: 34px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0.68px;
    margin-bottom: 30px;

    @media screen and (max-width: 744px) {
      font-size: 30px;
      font-weight: 300;
      letter-spacing: 0.6px;
      margin-bottom: 40px;
    }
  }
}

.personal-info {
  &__form {
    display: flex;
    flex-wrap: wrap;
  }

  &__field-wrap {
    width: calc((100% - 30px) / 2);
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    position: relative;

    &:nth-of-type(2n) {
      margin-left: 30px;

      @media screen and (max-width: 1024px) {
        margin-left: 0;
      }
    }

    @media screen and (max-width: 1024px) {
      width: 100%;
    }

    @media screen and (max-width: 744px) {
      margin-bottom: 10px;

      &:last-of-type {
        margin-bottom: 40px;
      }
    }
  }
}
