.legals {
  padding: 130px 100px 340px;
  min-height: calc(100vh - 200px);

  @media screen and (max-width: 1440px) {
    padding: 160px 80px 50px;
  }

  @media screen and (max-width: 1024px) {
    padding: 156px 60px 50px;
  }

  @media screen and (max-width: 744px) {
    padding: 70px 16px 30px;
    min-height: calc(100vh - 234px);
  }

  &__title {
    font-size: 34px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0.68px;
    margin-bottom: 50px;

    @media screen and (max-width: 744px) {
      font-size: 30px;
      font-weight: 300;
      letter-spacing: 0.6px;
      margin-bottom: 40px;
    }
  }

  &__text {
    color: #3a3a3a;
    font-size: 22px;
    font-weight: 300;
    line-height: 130%;
    letter-spacing: 0.44px;
    margin-bottom: 10px;

    &.legals__subtitle {
      font-weight: 600;
    }

    &-block {
      margin-bottom: 60px;
    }
  }

  &__item {
    color: #2329d6;
    cursor: pointer;
    position: relative;
    display: inline-block;

    &::after {
      display: block;
      content: '';
      background: #2329d6;
      width: 100%;
      height: 1px;
      border-radius: 2px;
      position: absolute;
      bottom: 0;
      right: 0;
      transition: all 0.3s ease;
    }
  }
}
