.faq {
  padding: 170px 100px 400px 100px;

  @media screen and (max-width: 1440px) {
    padding: 80px;
  }

  @media screen and (max-width: 1024px) {
    padding: 80px 60px;
  }

  @media screen and (max-width: 744px) {
    padding: 30px 16px;
  }

  &__title {
    font-size: 34px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0.68px;
    text-transform: uppercase;
    margin-bottom: 20px;

    @media screen and (max-width: 1440px) {
      margin-bottom: 50px;
    }

    @media screen and (max-width: 744px) {
      font-size: 30px;
      font-weight: 300;
      letter-spacing: 0.6px;
      margin-bottom: 40px;
    }
  }

  &__cards {
    display: flex;

    @media screen and (max-width: 1440px) {
      flex-direction: column;
    }
  }

  &__column:first-of-type {
    margin-right: 10px;

    @media screen and (max-width: 1440px) {
      margin-right: 0;
    }
  }

  &__contact-us {
    border-radius: 4px;
    background: rgba(38, 134, 100, 0.08);
    padding: 100px 0px;
    margin-top: 10px;
    text-align: center;
  }

  &__text {
    font-size: 34px;
    line-height: 130%;
    letter-spacing: 0.68px;
    margin-bottom: 10px;
  }

  &__link {
    color: #268664;
    position: relative;
    cursor: pointer;
    
    &::after {
      display: block;
      content: '';
      width: 100%;
      position: absolute;
      background: #268664;
      height: 2px;
      left: 0;
    }
  }
}
