.password {
  padding: 140px 100px 500px;
  min-height: calc(100vh - 200px);

  &__title {
    font-size: 34px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0.68px;
    margin-bottom: 30px;
  }

  &__form {
    width: 690px;
  }

  & .form__field-wrap {
    width: 100%;
    margin-left: 0;
  }

  &__btn {
    margin-top: 50px;
  }

  & .spinner {
    margin-top: 60px;
  }
}
