.receipt {
  & .total-summary__data > .total-summary__line:nth-of-type(5) {
    padding-bottom: 0;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 24px;

    @media screen and (max-width: 744px) {
      font-size: 18px;
      letter-spacing: 0.36px;
    }

    &::after {
      display: none;
    }
  }

  & .total-summary__data > .total-summary__line:nth-of-type(6) {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 10px;

    @media screen and (max-width: 744px) {
      font-weight: 300;
      font-size: 18px;
    }
  }

  & .total-summary__btn {
    margin: 40px auto 0;
    display: block;

    @media screen and (max-width: 744px) {
      width: 100%;
      max-width: max-content;
    }
  }
}
