.container {
  width: 1440px;
  margin: 0 auto;

  @media screen and (max-width: 1440px) {
    width: 1024px;
  }

  @media screen and (max-width: 1024px) {
    width: 744px;
  }

  @media screen and (max-width: 744px) {
    width: 100%;
  }
}

.btn {
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  font-family: 'SF Pro Display', sans-serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1.2px;
  padding: 20px 80px;
  height: 69px;
  line-height: normal;
  background: #268664;
  border: none;
  color: #fff;

  @media screen and (max-width: 1024px) {
    padding: 16px 60px;
    font-size: 18px;
    letter-spacing: 0.9px;
    height: 53px;
  }

  &:active,
  &:focus,
  &:focus-visible {
    outline: none;
  }
}

.hidden {
  display: none;
}

.input {
  border-radius: 4px;
  border: 1px solid #e8e7e7;
  background: transparent;
  padding: 15px 16px;
  font-family: 'SF Pro Display', sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: normal;
  transition: all 0.3s ease;
  color: #3a3a3a;
  height: 56px;

  &:active,
  &:focus,
  &:focus-visible {
    outline: none;
  }
}

.invalid .invalid-field {
  border: 1px solid #A51F1F;
}

input[type='radio'], input[type='checkbox'] {
  display: none;
}

.top-index {
  font-size: 9px;
  font-weight: 500;

  &_little {
    font-size: 7px;
  }
}

ul, li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
