.address {
  padding: 100px 100px 500px;

  @media screen and (max-width: 1440px) {
    padding: 100px 80px 500px;
  }

  @media screen and (max-width: 1024px) {
    padding: 80px 60px 500px;
  }

  @media screen and (max-width: 744px) {
    padding: 60px 16px 500px;
    min-height: calc(100vh - 234px);
  }

  &__title {
    font-size: 34px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0.68px;
    margin-bottom: 30px;

    @media screen and (max-width: 744px) {
      font-size: 30px;
      font-weight: 300;
      letter-spacing: 0.6px;
      margin-bottom: 40px;
    }
  }

  &__form {
    width: 690px;
    animation: fadeIn 0.3s ease-in;

    @media screen and (max-width: 1024px) {
      width: 100%;
    }
  }

  &__data {
    margin-bottom: 50px;

    @media screen and (max-width: 744px) {
      margin-bottom: 40px;
    }
  }

  & .form__properties {
    margin-bottom: 30px;

    @media screen and (max-width: 744px) {
      margin-bottom: 10px;
    }
  }

  &__btn {
    margin-top: 30px;
  }

  & .spinner {
    margin-top: 60px;
  }
}

.form__property.disabled {
  pointer-events: none;

  & .selected-option__name {
    color: #92a1a9;
  }
}

.form__label {
  position: relative;

  &.disabled {
    pointer-events: none;
  }
}

.lock {
  position: absolute;
  bottom: 4px;
  margin-left: 5px;
}
