.main__btn {
  display: flex;
  align-items: center;
}

.general {
  padding: 0px 0px 368px 100px;
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 1440px) {
    padding-bottom: 183px;
  }

  @media screen and (max-width: 1024px) {
    padding: 0;
    height: 1062px;
    justify-content: center;
  }

  @media screen and (max-width: 744px) {
    height: 100%;
  }

  &-section {
    background: linear-gradient(118deg, rgba(244, 249, 247, 0.4) 0%, #f4f9f7 100%);
    overflow: hidden;
    position: relative;

    @media screen and (max-width: 744px) {
      height: calc(100vh - 60px);
      display: flex;
      justify-content: center;
    }
  }

  &__info {
    z-index: 1;
  }

  &__title {
    color: #268664;
    font-size: 200px;
    font-weight: 400;
    line-height: 70%;
    letter-spacing: 6px;
    text-transform: uppercase;
    margin-top: 150px;
    margin-bottom: 30px;

    @media screen and (max-width: 1440px) {
      line-height: 100%;
      margin: 0;
    }

    @media screen and (max-width: 1024px) {
      line-height: 70%;
      margin: 106px 0 30px;
      text-align: center;
    }

    @media screen and (max-width: 744px) {
      font-size: 160px;
      letter-spacing: 4.8px;
      margin: 56px 0 20px;
    }

    @media screen and (max-width: 350px) {
      font-size: 140px;
      letter-spacing: 4px;
    }
  }

  &__subtitle {
    color: #268664;
    font-size: 20px;
    font-weight: 300;
    line-height: 100%;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    margin-bottom: 80px;

    @media screen and (max-width: 1440px) {
      margin-bottom: 60px;
    }

    @media screen and (max-width: 1024px) {
      margin-bottom: 0;
      text-align: center;
    }

    @media screen and (max-width: 744px) {
      margin-left: 0;
      margin-bottom: 70px;
    }
  }

  &__text {
    font-size: 22px;
    font-weight: 300;
    line-height: 130%;
    letter-spacing: 1.1px;
    width: 784px;
    margin-bottom: 40px;

    @media screen and (max-width: 1440px) {
      width: 439px;
      margin-bottom: 30px;
    }

    @media screen and (max-width: 1024px) {
      margin-bottom: 0;
      position: absolute;
      bottom: 142px;
      left: 60px;
    }

    @media screen and (max-width: 744px) {
      bottom: 158px;
      left: 16px;
      width: 358px;
      font-size: 18px;
      letter-spacing: 0.9px;
    }

    @media screen and (max-width: 390px) {
      width: calc(100% - 32px);
      font-size: 16px;
      letter-spacing: 0.8px;
    }
  }

  &__btn {
    @media screen and (max-width: 1024px) {
      position: absolute;
      bottom: 42px;
      left: 60px;
    }

    @media screen and (max-width: 744px) {
      bottom: 52px;
      left: 16px;
    }
  }

  &__img {
    height: 900px;
    position: absolute;
    top: 0;
    left: 794px;

    @media screen and (max-width: 1440px) {
      display: none;
    }

    &_1440 {
      position: absolute;
      height: 688px;
      left: 558px;
      display: none;

      @media screen and (max-width: 1440px) {
        display: block;
      }

      @media screen and (max-width: 1024px) {
        display: none;
      }
    }

    &_1024 {
      position: absolute;
      top: calc(744px - 100vw);
      width: 100%;
      display: none;

      @media screen and (max-width: 1024px) {
        display: block;
      }

      @media screen and (max-width: 744px) {
        top: 0;
        height: 100%;
        width: auto;
      }

      @media screen and (max-width: 391px) {
        display: none;
      }
    }

    &_390 {
      position: absolute;
      display: none;

      @media screen and (max-width: 391px) {
        display: block;
        width: 100%;
      }
    }
  }
}

.description {
  padding: 200px 100px 200px;

  @media screen and (max-width: 1440px) {
    padding: 140px 100px;
  }

  @media screen and (max-width: 1024px) {
    padding: 200px 60px;
  }

  @media screen and (max-width: 744px) {
    padding: 80px 16px 100px;
  }

  &__title {
    font-size: 60px;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: 1.8px;
    margin-bottom: 20px;

    @media screen and (max-width: 1440px) {
      font-size: 50px;
      letter-spacing: 1.5px;
    }

    @media screen and (max-width: 744px) {
      font-size: 36px;
      line-height: 120%;
      letter-spacing: 1.08px;
      margin-bottom: 40px;
    }
  }

  &__text {
    font-size: 24px;
    font-weight: 300;
    line-height: 130%;
    letter-spacing: 1.1px;
    margin-bottom: 50px;

    @media screen and (max-width: 1024px) {
      font-size: 22px;
    }

    @media screen and (max-width: 744px) {
      font-size: 20px;
      letter-spacing: 1px;
      margin-bottom: 20px;
    }
  }
}

.system {
  padding: 0 100px 230px;

  @media screen and (max-width: 1440px) {
    padding: 0 100px 220px;
  }

  @media screen and (max-width: 1024px) {
    padding: 0 60px 200px;
  }

  @media screen and (max-width: 744px) {
    padding: 0 16px 100px;
  }

  &__title {
    color: #000;
    text-align: center;
    font-size: 80px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    margin-bottom: 50px;

    @media screen and (max-width: 1440px) {
      font-size: 60px;
      letter-spacing: 1.2px;
      text-align: left;
    }

    @media screen and (max-width: 744px) {
      font-size: 48px;
      letter-spacing: 0.96px;
    }

    @media screen and (max-width: 380px) {
      font-size: 42px;
      letter-spacing: 0.9px;
    }
  }

  &__stages {
    border-radius: 4px;
    display: flex;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    -ms-overflow-style: none;
    scroll-snap-type: x mandatory;

    &::-webkit-scrollbar {
      display: none;
    }

    &-wrap {
      position: relative;
    }
  }

  &__stage {
    background: #268664;
    color: #fff;
    padding: 100px 95px;
    width: 1240px;
    flex: 0 0 auto;
    scroll-snap-align: center;

    @media screen and (max-width: 1440px) {
      padding: 100px 60px;
      width: 824px;
    }

    @media screen and (max-width: 1024px) {
      padding: 60px;
      width: 624px;
    }

    @media screen and (max-width: 744px) {
      padding: 40px 20px;
      width: 100%;
    }
  }

  &__subtitle {
    color: #fff;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    margin-bottom: 20px;

    @media screen and (max-width: 1024px) {
      font-size: 40px;
      letter-spacing: 2px;
    }

    @media screen and (max-width: 744px) {
      font-size: 32px;
      letter-spacing: 1.6px;
    }
  }

  &__text {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    line-height: 130%;
    letter-spacing: 0.72px;
    text-align: center;

    @media screen and (max-width: 1024px) {
      font-size: 22px;
      letter-spacing: 0.66px;
    }

    @media screen and (max-width: 744px) {
      font-size: 18px;
      letter-spacing: 0.54px;
    }
  }

  &__dots {
    display: flex;
    width: 50px;
    justify-content: space-between;
    margin: 40px auto 0;

    @media screen and (max-width: 1440px) {
      margin-top: 20px;
    }

    @media screen and (max-width: 744px) {
      width: 38px;
    }
  }

  &__dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(38, 134, 100, 0.5);
    transition: all 0.4s ease;

    @media screen and (max-width: 744px) {
      width: 6px;
      height: 6px;
    }

    &_active {
      background: #268664;
    }
  }

  &__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98px;
    padding: 33px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    position: absolute;
    top: 50%;

    @media screen and (max-width: 744px) {
      height: 26px;
      width: 26px;
      padding: 5px;
    }

    &_prev {
      transform: rotate(180deg) translateX(50%) translateY(50%);
    }

    &_next {
      right: 0;
      transform: translateX(50%) translateY(-50%);
    }

    &-sign {
      @media screen and (max-width: 744px) {
        width: 16px;
        height: 16px;
      }
    }
  }
}

.join {
  padding: 30px 100px 200px;

  @media screen and (max-width: 1024px) {
    padding: 0 60px 200px;
  }

  @media screen and (max-width: 744px) {
    padding: 0 16px 105px;
  }

  &__title {
    color: #225341;
    font-size: 80px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    margin-bottom: 60px;

    @media screen and (max-width: 1440px) {
      font-size: 60px;
      letter-spacing: 1.2px;
    }

    @media screen and (max-width: 1024px) {
      margin-bottom: 30px;
    }

    @media screen and (max-width: 744px) {
      font-size: 48px;
      letter-spacing: 0.96px;
    }

    @media screen and (max-width: 380px) {
      font-size: 42px;
      letter-spacing: 0.9px;
    }
  }

  &__reasons {
    display: flex;
    flex-wrap: wrap;
  }

  &__reason {
    padding: 40px;
    border-radius: 10px;
    margin: 0 10px 10px 0;
    background: rgba(38, 134, 100, 0.05);
    width: 406px;
    min-height: 216px;

    @media screen and (max-width: 1440px) {
      width: 407px;
    }

    @media screen and (max-width: 1024px) {
      padding: 20px;
      width: 307px;
      min-height: 154px;
    }

    @media screen and (max-width: 744px) {
      width: 100%;
      min-height: 107px;
      margin-right: 0;
      margin-bottom: 5px;
    }

    &:nth-of-type(3n) {
      margin-right: 0;

      @media screen and (max-width: 1440px) {
        margin-right: 10px;
      }

      @media screen and (max-width: 744px) {
        margin-right: 0;
      }
    }

    &:nth-of-type(2n) {
      @media screen and (max-width: 1440px) {
        margin-right: 0;
      }
    }
  }

  &__subtitle {
    color: #225341;
    font-size: 34px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0.68px;
    margin-bottom: 30px;

    @media screen and (max-width: 1024px) {
      font-size: 30px;
      letter-spacing: 0.6px;
    }

    @media screen and (max-width: 744px) {
      margin-bottom: 10px;
    }
  }

  &__text {
    color: #000;
    font-size: 24px;
    font-weight: 300;
    line-height: 150%;
    letter-spacing: 0.48px;

    @media screen and (max-width: 1024px) {
      font-size: 18px;
      letter-spacing: 0.36px;
    }
  }

  &__note {
    display: flex;
    align-items: center;
    margin-top: 35px;

    @media screen and (max-width: 1024px) {
      margin-top: 15px;
    }

    @media screen and (max-width: 744px) {
      flex-direction: column;
      align-items: center;
      margin-top: 90px;
    }

    &-check {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: #268664;
      padding: 18px;
      margin-right: 20px;

      @media screen and (max-width: 1024px) {
        width: 40px;
        height: 40px;
        padding: 8px;
      }

      @media screen and (max-width: 744px) {
        margin-bottom: 20px;
        margin-right: 0;
      }
    }

    &-text {
      color: #225341;
      font-size: 40px;
      font-weight: 400;
      line-height: 100%;
      letter-spacing: 0.8px;

      @media screen and (max-width: 1440px) {
        font-size: 30px;
        letter-spacing: 0.6px;
      }

      @media screen and (max-width: 1024px) {
        font-size: 24px;
        letter-spacing: 0.48px;
      }

      @media screen and (max-width: 744px) {
        font-size: 26px;
        letter-spacing: 0.52px;
        text-align: center;
      }
    }
  }
}

.start {
  padding: 100px;

  @media screen and (max-width: 1024px) {
    padding: 60px;
  }

  @media screen and (max-width: 744px) {
    padding: 40px 16px;
  }

  &-section {
    background: #f4f9f7;
    border-radius: 10px;
    margin-bottom: 200px;

    @media screen and (max-width: 744px) {
      margin-bottom: 100px;
    }
  }

  &__title {
    font-size: 80px;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    margin-bottom: 20px;

    @media screen and (max-width: 1024px) {
      font-size: 60px;
      letter-spacing: 1.8px;
    }

    @media screen and (max-width: 744px) {
      font-size: 48px;
      letter-spacing: 1.44px;
    }

    @media screen and (max-width: 380px) {
      font-size: 42px;
      letter-spacing: 0.9px;
    }
  }

  &__text {
    font-size: 24px;
    font-weight: 300;
    line-height: 130%;
    letter-spacing: 1.2px;
    margin-bottom: 50px;

    @media screen and (max-width: 1024px) {
      font-size: 22px;
      letter-spacing: 1.1px;
    }

    @media screen and (max-width: 744px) {
      font-size: 18px;
      letter-spacing: 0.9px;
      margin-bottom: 20px;
    }
  }
}
