.main__btn {
  display: flex;
  align-items: center;
}

.general {
  padding: 0px 0px 100px 100px;
  display: flex;
  justify-content: space-between;

  &-section {
    background: linear-gradient(118deg, rgba(244, 249, 247, 0.4) 0%, #f4f9f7 100%);
  }

  &__title {
    color: #268664;
    font-size: 200px;
    font-weight: 400;
    line-height: 70%;
    letter-spacing: 6px;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  &__subtitle {
    color: #268664;
    font-size: 20px;
    font-weight: 300;
    line-height: 100%;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    margin-bottom: 90px;
  }

  &__text {
    font-size: 22px;
    font-weight: 300;
    line-height: 130%;
    letter-spacing: 1.1px;
    width: 513px;
    margin-bottom: 60px;
  }

  &__img {
    height: 873px;
  }
}

.description {
  padding: 200px 100px 200px;

  &__title {
    font-size: 60px;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: 1.8px;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 24px;
    font-weight: 300;
    line-height: 130%;
    letter-spacing: 1.1px;
    margin-bottom: 50px;
  }
}

.system {
  padding: 0 100px 230px;

  &__title {
    color: #000;
    text-align: center;
    font-size: 80px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    margin-bottom: 50px;
  }

  &__stages {
    border-radius: 4px;
    display: flex;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    -ms-overflow-style: none;
    scroll-snap-type: x mandatory;

    &::-webkit-scrollbar {
      width: 0;
    }

    &-wrap {
      position: relative;
    }
  }

  &__stage {
    background: #268664;
    color: #fff;
    padding: 100px;
    min-width: 1240px;
    height: 301px;
    flex: 0 0 auto;
    scroll-snap-align: center;
  }

  &__subtitle {
    color: #fff;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__text {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    line-height: 130%;
    letter-spacing: 0.72px;
    text-align: center;
  }

  &__dots {
    display: flex;
    width: 50px;
    justify-content: space-between;
    margin: 24px auto 0;
  }

  &__dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(38, 134, 100, 0.5);
    transition: all 0.4s ease;

    &_active {
      background: #268664;
    }
  }

  &__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98px;
    padding: 33px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    position: absolute;
    top: 101px;

    &_prev {
      transform: rotate(180deg) translateX(50%);
    }

    &_next {
      right: 0;
      transform: translateX(50%);
    }
  }
}

.join {
  padding: 30px 100px 200px;

  &__title {
    color: #225341;
    font-size: 80px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    margin-bottom: 60px;
  }

  &__reasons {
    display: flex;
    flex-wrap: wrap;
  }

  &__reason {
    padding: 40px;
    border-radius: 10px;
    margin: 0 10px 10px 0;
    background: rgba(38, 134, 100, 0.05);
    width: 406px;
    height: 216px;

    &:nth-of-type(3n) {
      margin-right: 0;
    }
  }

  &__subtitle {
    color: #225341;
    font-size: 34px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0.68px;
    margin-bottom: 30px;
  }

  &__text {
    color: #000;
    font-size: 24px;
    font-weight: 300;
    line-height: 150%;
    letter-spacing: 0.48px;
  }

  &__note {
    display: flex;
    align-items: center;
    margin-top: 35px;

    &-check {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: #268664;
      padding: 18px;
      margin-right: 20px;
    }

    &-text {
      color: #225341;
      font-size: 40px;
      font-weight: 400;
      line-height: 100%;
      letter-spacing: 0.8px;
    }
  }
}

.start {
  padding: 100px;

  &-section {
    background: #f4f9f7;
    border-radius: 10px;
    margin-bottom: 200px;
  }

  &__title {
    font-size: 80px;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 24px;
    font-weight: 300;
    line-height: 130%;
    letter-spacing: 1.2px;
    margin-bottom: 50px;
  }
}
