.main__btn {
  display: flex;
  align-items: center;

  @media screen and (max-width: 350px) {
    &.btn {
      padding: 16px 40px;
    }
  }
}

.general {
  padding: 0px 0px 337px 100px;
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 1440px) {
    padding-bottom: 184px;
  }

  @media screen and (max-width: 1024px) {
    padding: 0;
    height: 1062px;
    justify-content: center;
  }

  @media screen and (max-width: 744px) {
    height: 100%;
  }

  &-section {
    background: linear-gradient(118deg, rgba(244, 249, 247, 0.4) 0%, #f4f9f7 100%);
    overflow: hidden;
    position: relative;

    @media screen and (max-width: 744px) {
      height: 778px;
      display: flex;
      justify-content: center;
    }
  }

  &__info {
    z-index: 1;
  }

  &__title {
    color: #268664;
    font-size: 200px;
    font-weight: 400;
    line-height: 70%;
    letter-spacing: 6px;
    text-transform: uppercase;
    margin-top: 150px;
    margin-bottom: 30px;

    @media screen and (max-width: 1440px) {
      line-height: 100%;
      margin: 0;
    }

    @media screen and (max-width: 1024px) {
      line-height: 70%;
      margin: 106px 0 30px;
      text-align: center;
    }

    @media screen and (max-width: 744px) {
      font-size: 160px;
      letter-spacing: 4.8px;
      margin: 56px 0 20px;
    }

    @media screen and (max-width: 350px) {
      font-size: 140px;
      letter-spacing: 4px;
    }
  }

  &__subtitle {
    color: #268664;
    font-size: 20px;
    font-weight: 300;
    line-height: 100%;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    margin-bottom: 80px;

    @media screen and (max-width: 1440px) {
      margin-bottom: 60px;
    }

    @media screen and (max-width: 1024px) {
      margin-bottom: 0;
      text-align: center;
    }

    @media screen and (max-width: 744px) {
      margin-left: 0;
      margin-bottom: 70px;
    }
  }

  &__text {
    font-size: 22px;
    font-weight: 300;
    line-height: 130%;
    letter-spacing: 1.1px;
    width: 682px;
    margin-bottom: 30px;

    @media screen and (max-width: 1440px) {
      width: 439px;
      margin-bottom: 30px;
    }

    @media screen and (max-width: 1024px) {
      margin-bottom: 0;
      position: absolute;
      bottom: 142px;
      left: 60px;
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      -moz-backdrop-filter: blur(10px);
      padding: 10px;
      border: 1px solid transparent;
      border-radius: 5px;
    }

    @media screen and (max-width: 744px) {
      bottom: 158px;
      left: 16px;
      width: 358px;
      font-size: 18px;
      letter-spacing: 0.9px;
    }

    @media screen and (max-width: 390px) {
      width: calc(100% - 32px);
      font-size: 16px;
      letter-spacing: 0.8px;
    }
  }

  &__btn {
    @media screen and (max-width: 1024px) {
      position: absolute;
      bottom: 42px;
      left: 60px;
    }

    @media screen and (max-width: 744px) {
      bottom: 52px;
      left: 16px;
    }
  }

  &__img {
    height: 900px;
    position: absolute;
    top: 0;
    left: 794px;

    @media screen and (max-width: 1440px) {
      display: none;
    }

    &_1440 {
      position: absolute;
      height: 688px;
      left: 558px;
      display: none;

      @media screen and (max-width: 1440px) {
        display: block;
      }

      @media screen and (max-width: 1024px) {
        display: none;
      }
    }

    &_1024 {
      position: absolute;
      top: calc(744px - 100vw);
      width: 100%;
      display: none;

      @media screen and (max-width: 1024px) {
        display: block;
      }

      @media screen and (max-width: 744px) {
        top: 0;
        bottom: 0;
        height: 100%;
        width: auto;
      }

      @media screen and (max-width: 391px) {
        display: none;
      }
    }

    &_390 {
      position: absolute;
      display: none;

      @media screen and (max-width: 391px) {
        display: block;
        height: 100%;
      }
    }
  }
}

.description {
  padding: 200px 100px;

  @media screen and (max-width: 1440px) {
    padding: 140px 100px;
  }

  @media screen and (max-width: 1024px) {
    padding: 200px 60px;
  }

  @media screen and (max-width: 744px) {
    padding: 80px 16px 100px;
  }

  &__title {
    font-size: 60px;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: 1.8px;
    margin-bottom: 20px;

    @media screen and (max-width: 1440px) {
      font-size: 50px;
      letter-spacing: 1.5px;
    }

    @media screen and (max-width: 744px) {
      font-size: 36px;
      line-height: 120%;
      letter-spacing: 1.08px;
      margin-bottom: 40px;
    }
  }

  &__text {
    font-size: 24px;
    font-weight: 300;
    line-height: 130%;
    letter-spacing: 1.1px;
    margin-bottom: 50px;

    @media screen and (max-width: 1024px) {
      font-size: 22px;
    }

    @media screen and (max-width: 744px) {
      font-size: 20px;
      letter-spacing: 1px;
      margin-bottom: 20px;
    }
  }
}

.system {
  padding: 0 100px 230px;

  @media screen and (max-width: 1440px) {
    padding: 0 100px 220px;
  }

  @media screen and (max-width: 1024px) {
    padding: 0 60px 200px;
  }

  @media screen and (max-width: 744px) {
    padding: 0 16px 95px;
  }

  &__title {
    color: #000;
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 1.2px;
    margin-bottom: 50px;

    @media screen and (max-width: 1440px) {
      font-size: 60px;
      letter-spacing: 1.2px;
    }

    @media screen and (max-width: 744px) {
      font-size: 48px;
      letter-spacing: 0.96px;
    }

    @media screen and (max-width: 390px) {
      font-size: 42px;
      letter-spacing: 0.9px;
    }
  }

  &__stage {
    position: relative;
    width: 887px;
    min-height: 205px;
    margin: -20px auto 0;

    @media screen and (max-width: 1440px) {
      width: 876px;
      min-height: 217px;
    }

    @media screen and (max-width: 1024px) {
      width: 534px;
      min-height: 133px;
      margin-top: -10px;
    }

    @media screen and (max-width: 566px) {
      max-width: 358px;
      min-height: 77px;
      width: 100%;
      margin-bottom: 5px;
    }

    &-background {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    &-number {
      color: #268664;
      font-size: 50px;
      font-weight: 700;
      line-height: 100%;
      letter-spacing: 1.5px;
      position: absolute;
      display: block;
      line-height: 70%;
      top: 66px;
      left: 50px;

      @media screen and (max-width: 1440px) {
        top: 74px;
      }

      @media screen and (max-width: 1024px) {
        font-size: 30px;
        letter-spacing: 0.9px;
        top: 44px;
        left: 31px;
      }

      @media screen and (max-width: 566px) {
        font-size: 20px;
        letter-spacing: 0.6px;
        top: 24px;
        left: 6.15%;
      }
    }

    &-info {
      padding: 37px 0 0 266px;
      position: relative;
      z-index: 1;

      @media screen and (max-width: 1440px) {
        padding: 45px 0 0 251px;
      }

      @media screen and (max-width: 1024px) {
        padding: 20px 21px 47px 140px;
      }

      @media screen and (max-width: 566px) {
        padding: 12px 4.75% 23px 25.14%;
      }
    }

    &-subtitle {
      color: #268664;
      font-size: 40px;
      font-weight: 700;
      line-height: 70%;
      letter-spacing: 4px;
      text-transform: uppercase;
      margin-bottom: 14px;

      @media screen and (max-width: 1440px) {
        font-size: 34px;
        letter-spacing: 3.4px;
      }

      @media screen and (max-width: 1024px) {
        font-size: 26px;
        letter-spacing: 2.6px;
        margin-bottom: 7px;
      }

      @media screen and (max-width: 566px) {
        font-size: 18px;
        letter-spacing: 1.8px;
        margin-bottom: 4px;
      }
    }

    &-text {
      color: #000;
      font-family: 'SF Pro Display';
      font-size: 24px;
      font-weight: 300;
      line-height: 120%;

      @media screen and (max-width: 1024px) {
        font-size: 18px;
      }

      @media screen and (max-width: 566px) {
        font-size: 12px;
      }
    }
  }
}

.join {
  padding: 30px 100px 200px;

  @media screen and (max-width: 1024px) {
    padding: 0 60px 200px;
  }

  @media screen and (max-width: 744px) {
    padding: 0 16px 105px;
  }

  &__title {
    color: #225341;
    font-size: 60px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 1.2px;
    margin-bottom: 60px;

    @media screen and (max-width: 1440px) {
      font-size: 60px;
      letter-spacing: 1.2px;
    }

    @media screen and (max-width: 1024px) {
      margin-bottom: 30px;
    }

    @media screen and (max-width: 744px) {
      font-size: 48px;
      letter-spacing: 0.96px;
    }

    @media screen and (max-width: 390px) {
      font-size: 42px;
      letter-spacing: 0.9px;
    }
  }

  &__reasons {
    display: flex;
    flex-wrap: wrap;
  }

  &__reason {
    padding: 40px;
    border-radius: 10px;
    margin: 0 10px 10px 0;
    background: rgba(38, 134, 100, 0.05);
    width: 406px;
    min-height: 216px;

    @media screen and (max-width: 1440px) {
      width: 407px;
    }

    @media screen and (max-width: 1024px) {
      padding: 20px;
      width: 307px;
      min-height: 154px;
    }

    @media screen and (max-width: 744px) {
      width: 100%;
      min-height: 107px;
      margin-right: 0;
      margin-bottom: 5px;
    }

    &:nth-of-type(3n) {
      margin-right: 0;

      @media screen and (max-width: 1440px) {
        margin-right: 10px;
      }

      @media screen and (max-width: 744px) {
        margin-right: 0;
      }
    }

    &:nth-of-type(2n) {
      @media screen and (max-width: 1440px) {
        margin-right: 0;
      }
    }
  }

  &__subtitle {
    color: #225341;
    font-size: 34px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0.68px;
    margin-bottom: 30px;

    @media screen and (max-width: 1024px) {
      font-size: 30px;
      letter-spacing: 0.6px;
    }

    @media screen and (max-width: 744px) {
      margin-bottom: 10px;
    }
  }

  &__text {
    color: #000;
    font-size: 24px;
    font-weight: 300;
    line-height: 150%;
    letter-spacing: 0.48px;

    @media screen and (max-width: 1024px) {
      font-size: 18px;
      letter-spacing: 0.36px;
    }
  }

  &__note {
    color: #225341;
    font-size: 40px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0.8px;
    margin-top: 35px;
  }
}

.start {
  padding: 100px;
  text-align: center;

  @media screen and (max-width: 1024px) {
    padding: 60px;
  }

  @media screen and (max-width: 744px) {
    padding: 40px 16px;
  }

  &-section {
    background: #f4f9f7;
    border-radius: 10px;
  }

  &__title {
    font-size: 60px;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: 1.8px;
    margin-bottom: 20px;

    @media screen and (max-width: 1024px) {
      font-size: 60px;
      letter-spacing: 1.8px;
    }

    @media screen and (max-width: 744px) {
      font-size: 48px;
      letter-spacing: 1.44px;
    }

    @media screen and (max-width: 390px) {
      font-size: 42px;
      letter-spacing: 0.9px;
    }
  }

  &__text {
    font-size: 24px;
    font-weight: 300;
    line-height: 130%;
    letter-spacing: 1.2px;
    margin-bottom: 20px;

    @media screen and (max-width: 1024px) {
      font-size: 22px;
      letter-spacing: 1.1px;
    }

    @media screen and (max-width: 744px) {
      font-size: 18px;
      letter-spacing: 0.9px;
      margin-bottom: 20px;
    }
  }

  &__btn {
    margin: 0 auto;
  }
}

.reviews {
  padding: 200px 0;
  display: flex;
  justify-content: center;

  @media screen and (max-width: 744px) {
    flex-direction: column;
  }

  &__block {
    min-width: 248px;
    height: 130px;
    background: rgba(38, 134, 100, 0.02);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin-right: 20px;

    &:last-of-type {
      margin-right: 0;

      @media screen and (max-width: 744px) {
        margin-bottom: 0;
      }
    }

    @media screen and (max-width: 1024px) {
      min-width: 205px;
      padding: 30px 20px;
      margin-right: 5px;
    }

    @media screen and (max-width: 744px) {
      width: 100%;
      margin: 0 0 5px;
    }
  }

  &__subtitle {
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 1.2px;
    margin-bottom: 10px;
    text-align: center;
  }

  &__text {
    color: #268664;
    font-size: 28px;
    font-weight: 600;
    line-height: 100%;
  }

  &__stars {
    display: flex;
    justify-content: space-between;
    width: 128px;
  }
}
