.custom-select.address-select {
  height: 76px;
}

.selected-option {
  &__value {
    display: flex;
    flex-direction: column;
  }

  .address-select &__name {
    font-size: 20px;
    letter-spacing: 0.4px;
  }

  &__info {
    color: #92a1a9;
    font-size: 14px;
    font-weight: 300;
    line-height: 130%;
    letter-spacing: 0.28px;
    margin-top: 2px;
  }
}

.options-wrapper {
  &.s {
    height: 64px;
  }

  &.m {
    height: 112px;
  }

  &.l {
    height: 160px;
  }
}
