.total-summary {
  padding: 140px 100px 400px 100px;

  &__title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 1.2px;
  }

  &__line {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.4px;
    position: relative;
    margin-bottom: 10px;

    .total-summary__data > &:nth-of-type(5),
    &.underlined {
      padding-bottom: 100px;
      margin-bottom: 100px;
    }

    .total-summary__data > &:nth-of-type(6),
    .total-summary__data > &:last-of-type {
      font-size: 24px;
      font-weight: 700;
      letter-spacing: 0.48px;
      margin-bottom: 20px;
    }

    .total-summary__data > &:last-of-type {
      margin-bottom: 10px;
    }

    &_important {
      font-size: 24px;
      font-weight: 600;
      letter-spacing: 0.48px;
    }

    .total-summary__extras > & {
      justify-content: start;
      transition: all 0.3s ease;

      &.edit {
        margin-left: 34px;
      }
    }

    .total-summary__data > &:nth-last-of-type(2) {
      padding-bottom: 20px;
      margin-bottom: 20px;
    }

    .total-summary__data > &:nth-last-of-type(3) {
      padding-top: 20px;
      margin-top: 20px;
    }

    &:last-of-type .total-summary__name:first-of-type {
      display: flex;
      align-items: center;
    }
  }

  &__next-cleaning {
    color: #3a3a3a;
    font-size: 30px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0.6px;
    margin-bottom: 20px;
  }

  &__link {
    cursor: pointer;
    position: relative;
    color: #3a3a3a;
    font-size: 24px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.48px;
    margin-top: 50px;

    &::after {
      display: block;
      content: '';
      background: #3a3a3a;
      width: 100%;
      height: 2px;
      position: absolute;
      bottom: 0;
    }
  }

  &__name {
    display: flex;
    position: relative;
    transition: all 0.3s ease;

    &.edit {
      margin-left: 34px;
    }
  }

  &__tick {
    margin-right: 10px;
  }

  &__edit {
    width: 24px;
    height: 24px;
    margin: 1px 10px 0 0;
    position: absolute;
    left: 0;
    opacity: 0;
    transition: all 0.3s ease;
    pointer-events: none;

    .total-summary__data > .total-summary__line:nth-of-type(1) &,
    .total-summary__data > .total-summary__line:nth-of-type(2) &,
    .total-summary__address & {
      margin-top: 3px;
    }

    .total-summary__btn & {
      position: static;
      opacity: 1;
    }

    .edit & {
      opacity: 1;
      left: -34px;
      cursor: pointer;
      pointer-events: auto;
    }
  }

  &__list-item {
    display: flex;
    flex-direction: column;
    text-align: end;
    margin-bottom: 2px;
  }

  &__extras-list {
    padding-left: 20px;
    margin-bottom: 10px;
  }

  &__address {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 40px;
    display: flex;
    transition: all 0.3s ease;

    &.edit {
      margin-left: 34px;
    }
  }

  .total-summary__data > &__line:nth-last-of-type(2)::after,
  .total-summary__data > &__line:nth-last-of-type(3)::after,
  .total-summary__data > &__line:nth-of-type(5)::after,
  &__address::after,
  &__line.underlined::after {
    display: block;
    content: '';
    background: #d9d9d9;
    width: 100%;
    height: 1px;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
  }

  &__address.edit::after {
    left: -34px;
    width: calc(100% + 34px);
  }

  .total-summary__data > &__line:nth-last-of-type(3)::after {
    top: 0;
  }

  &__policy {
    display: inline-block;
    margin-top: 20px;
    color: #92a1a9;
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.8px;
    cursor: pointer;
  }

  &__buttons {
    display: flex;
    justify-content: center;
  }

  &__btn {
    display: flex;
    align-items: center;

    &.edit {
      margin-top: 80px;
    }

    &:first-of-type {
      margin-right: 20px;
    }
  }

  &__edit {
    margin-right: 10px;

    & path {
      transition: all 0.3s ease;
    }
  }

  &__text {
    font-size: 16px;
    font-weight: 300;
    line-height: 130%;
    letter-spacing: 0.32px;
    text-align: center;
    margin-top: 20px;
  }

  &__tariff.link {
    font-size: 14px;
  }

  & .spinner {
    margin: 40px auto 0;
  }
}
