.total-summary {
  padding: 130px 100px 400px;

  @media screen and (max-width: 1440px) {
    padding: 160px 80px 400px;
  }

  @media screen and (max-width: 1024px) {
    padding: 156px 60px 400px;
  }

  @media screen and (max-width: 744px) {
    padding: 70px 16px 200px;
  }

  &__title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 1.2px;

    @media screen and (max-width: 1024px) {
      font-size: 34px;
      letter-spacing: 0.68px;
    }

    @media screen and (max-width: 744px) {
      font-size: 30px;
      font-weight: 300;
      letter-spacing: 0.6px;
    }
  }

  &__line {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.4px;
    position: relative;
    margin-bottom: 10px;

    @media screen and (max-width: 744px) {
      font-size: 18px;
      font-weight: 300;
      letter-spacing: 0.36px;
    }

    .total-summary__data > &:nth-of-type(5),
    &.underlined {
      padding-bottom: 100px;
      margin-bottom: 100px;

      @media screen and (max-width: 744px) {
        padding-bottom: 60px;
        margin-bottom: 60px;
      }
    }

    .total-summary__data > &:nth-of-type(6),
    .total-summary__data > &:last-of-type {
      font-size: 24px;
      font-weight: 600;
      letter-spacing: 0.48px;
      margin-bottom: 20px;

      @media screen and (max-width: 744px) {
        font-size: 18px;
        letter-spacing: 0.36px;
      }
    }

    .total-summary__data > &:last-of-type {
      margin-bottom: 10px;
    }

    &_important {
      font-size: 24px;
      font-weight: 600;
      letter-spacing: 0.48px;

      @media screen and (max-width: 744px) {
        font-size: 18px;
        letter-spacing: 0.36px;
      }
    }

    .total-summary__extras > & {
      justify-content: start;
      transition: all 0.3s ease;

      &.edit {
        margin-left: 34px;

        @media screen and (max-width: 744px) {
          margin-left: 25px;
        }
      }
    }

    .total-summary__data > &:nth-last-of-type(2) {
      padding-bottom: 20px;
      margin-bottom: 20px;
    }

    .total-summary__data > &:nth-last-of-type(3) {
      padding-top: 20px;
      margin-top: 20px;
    }

    &:last-of-type .total-summary__name:first-of-type {
      display: flex;
      align-items: center;
    }
  }

  &__next-cleaning {
    color: #3a3a3a;
    font-size: 30px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0.6px;
    margin-bottom: 20px;

    @media screen and (max-width: 1024px) {
      font-size: 28px;
      letter-spacing: 0.56px;
    }

    @media screen and (max-width: 744px) {
      font-size: 20px;
      letter-spacing: 0.4px;
    }
  }

  &__link {
    cursor: pointer;
    position: relative;
    color: #268664;
    font-size: 24px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.48px;
    margin-top: 50px;
    transition: all 0.3s ease;

    @media screen and (max-width: 744px) {
      font-size: 16px;
      margin-top: 30px;
    }

    &::after {
      display: block;
      content: '';
      background: #268664;
      width: 100%;
      height: 2px;
      position: absolute;
      bottom: 0;
      transition: all 0.3s ease;

      @media screen and (max-width: 744px) {
        height: 1px;
      }
    }

    &:hover {
      color: #185640;

      &::after {
        background: #185640;
      }
    }

    &:active,
    &:focus,
    &:focus-visible {
      color: #177152;

      &::after {
        background: #177152;
      }
    }
  }

  &__name {
    display: flex;
    position: relative;
    transition: all 0.3s ease;
    margin-right: 10px;

    &.edit {
      margin-left: 34px;

      @media screen and (max-width: 744px) {
        margin-left: 25px;
      }
    }
  }

  &__value {
    text-align: right;
  }

  &__tick {
    margin-right: 10px;
  }

  &__status {
    @media screen and (max-width: 420px) {
      .subscription__past-orders & {
        width: 200px;
      }
    }

    @media screen and (max-width: 380px) {
      width: 140px;
    }
  }

  &__edit {
    width: 24px;
    height: 24px;
    margin-right: 10px;

    @media screen and (max-width: 744px) {
      width: 18px;
      height: 18px;
      margin-right: 7px;
    }

    .total-summary__btn & {
      position: static;
      opacity: 1;
    }

    & path {
      transition: all 0.3s ease;
    }

    &-wrap {
      margin-top: 1px;
      position: absolute;
      left: 0;
      opacity: 0;
      transition: all 0.3s ease;
      pointer-events: none;
      margin-right: 10px;

      @media screen and (max-width: 744px) {
        margin-top: 2px;
      }

      .edit & {
        opacity: 1;
        left: -34px;
        cursor: pointer;
        pointer-events: auto;

        @media screen and (max-width: 744px) {
          left: -25px;
        }
      }

      &::after {
        display: block;
        content: '';
        background: transparent;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transition: all 0.3s ease;
        position: absolute;
        top: -8px;
        left: -8px;

        .cleaning & {
          top: -6px;

          @media screen and (max-width: 744px) {
            top: -2px;
          }
        }

        @media screen and (max-width: 744px) {
          width: 30px;
          height: 30px;
          top: -6px;
          left: -6px;
        }
      }

      &:hover::after {
        background: rgba(38, 134, 100, 0.07);
      }

      &:active::after,
      &:focus::after,
      &:focus-visible::after,
      &:focus-within::after {
        background: rgba(38, 134, 100, 0.16);
      }
    }
  }

  &__list-item {
    display: flex;
    flex-direction: column;
    text-align: end;
    margin-bottom: 2px;
  }

  &__extras-list {
    padding-left: 20px;
    margin-bottom: 10px;
  }

  &__address {
    position: relative;
    display: flex;
    transition: all 0.3s ease;

    &.edit {
      margin-left: 34px;

      @media screen and (max-width: 744px) {
        margin-left: 25px;
      }
    }
  }

  &__instructions {
    position: relative;
    font-size: 20px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.4px;
    transition: all 0.3s ease;
    margin-top: 20px;
    display: flex;

    @media screen and (max-width: 744px) {
      font-size: 16px;
      letter-spacing: 0.36px;
    }

    &.edit {
      margin-left: 34px;

      @media screen and (max-width: 744px) {
        margin-left: 25px;
      }
    }
  }

  &__last-line {
    padding-bottom: 20px;
    margin-bottom: 40px;

    &.edit::after {
      left: -34px;
      width: calc(100% + 34px);

      @media screen and (max-width: 744px) {
        left: -25px;
        width: calc(100% + 25px);
      }
    }
  }

  .total-summary__data > &__line:nth-last-of-type(2)::after,
  .total-summary__data > &__line:nth-last-of-type(3)::after,
  .total-summary__data > &__line:nth-of-type(5)::after,
  &__last-line::after,
  &__line.underlined::after {
    display: block;
    content: '';
    background: #d9d9d9;
    width: 100%;
    height: 1px;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
  }

  .total-summary__data > &__line:nth-last-of-type(3)::after {
    top: 0;
  }

  &__policy {
    display: inline-block;
    margin-top: 20px;
    color: #92a1a9;
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.8px;
    cursor: pointer;

    @media screen and (max-width: 744px) {
      &.link {
        font-size: 14px;
        letter-spacing: 0.7px;
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;

    @media screen and (max-width: 340px) {
      flex-direction: column;
    }
  }

  &__btn {
    display: flex;
    align-items: center;

    @media screen and (max-width: 744px) {
      display: inline-block;
      max-width: 174px;
      width: calc((100% - 10px) / 2);

      &.btn {
        padding: 16px 40px;
      }
    }

    @media screen and (max-width: 340px) {
      width: 100%;
      max-width: 100%;
    }

    &.edit {
      margin-top: 80px;
    }

    &:first-of-type {
      margin-right: 20px;

      @media screen and (max-width: 744px) {
        margin-right: 10px;
      }

      @media screen and (max-width: 340px) {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  }

  &__text {
    font-size: 16px;
    font-weight: 300;
    line-height: 130%;
    letter-spacing: 0.32px;
    text-align: center;
    margin-top: 20px;

    @media screen and (max-width: 744px) {
      font-size: 14px;
      letter-spacing: 0.3px;
    }
  }

  &__tariff {
    margin-left: 8px;
    padding-top: 5px;

    @media screen and (max-width: 1024px) {
      margin-left: 6px;
    }

    @media screen and (max-width: 420px) {
      .subscription__past-orders & {
        margin-left: 0;
      }
    }

    @media screen and (max-width: 380px) {
      .subscription-wrap &,
      .receipt & {
        margin-left: 0;
      }
    }

    &.link {
      font-size: 14px;
      font-weight: 600;
      line-height: 130%;
      letter-spacing: 0.28px;
      bottom: 1px;

      @media screen and (max-width: 1024px) {
        font-size: 12px;
        letter-spacing: 0.24px;

        .subscription-wrap & {
          bottom: 0;
        }
      }

      &::after {
        width: calc(100% - 12px);
        right: 6px;

        @media screen and (max-width: 1024px) {
          width: calc(100% - 10px);
          right: 4px;
        }
      }
    }
  }

  & .spinner {
    margin: 40px auto 0;
  }
}
