.calendar {
  &__weekdays {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    display: flex;
  }

  &__weekday {
    display: block;
    width: 100%;
    padding: 8px;
    text-align: center;
    font-size: 16px;
    line-height: 100%;

    &_available {
      color: #000;
    }

    &_unavailable {
      color: rgba(0, 0, 0, 0.3);
    }

    @media screen and (max-width: 1440px) {
      font-size: 12.3px;
      padding: 6px;
    }

    @media screen and (max-width: 1024px) {
      font-size: 9.1px;
      padding: 4px;
    }
  }

  &__days {
    display: flex;
    flex-wrap: wrap;
  }

  &__day {
    height: 76px;
    width: calc((100% - 12px) / 7);
    padding: 8px;
    margin: 2px 2px 0 0;
    text-align: right;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 100%;
    position: relative;
    border: 1px solid #f1f1f1;
    color: #000;
    display: flex;
    flex-direction: column;
    transition:
      color 0.3s ease,
      background-color 0.3s ease;

    @media screen and (max-width: 1440px) {
      height: 58.4px;
      font-size: 14px;
      padding: 6px;
    }

    @media screen and (max-width: 1024px) {
      font-size: 10.4px;
      padding: 4px;
      height: 43.4px;
    }

    @media screen and (max-width: 744px) {
      font-size: 10px;
      height: 44px;
    }

    &:nth-of-type(7n) {
      margin-right: 0;
    }

    &_after {
      cursor: pointer;

      &:hover {
        background: rgba(38, 134, 100, 0.05);
      }

      &:active {
        background: rgba(38, 134, 100, 0.1);
      }
    }

    &_before {
      color: rgba(0, 0, 0, 0.3);
    }

    &_today {
      border: 1px solid #268664;
      color: #268664;

      &.calendar__day_unactive {
        border: 1px solid rgba(38, 134, 100, 0.3);
        color: #cbcaca;
      }
    }

    &_selected {
      background: #268664;
      color: #fff;
      border: none;

      &.calendar__day_after:hover {
        background: #57a288;
      }

      &.calendar__day_after:active {
        background: #316955;
      }
    }

    &_unactive {
      color: #cbcaca;
    }

    &_invisible {
      border: none;
    }
  }

  &__date {
    margin-bottom: 3px;

    @media screen and (max-width: 1440px) {
      margin-bottom: 2px;
    }
  }

  &__time,
  &__price {
    color: #fff;
    font-family: 'Inter';
    font-size: 10px;
    font-weight: 300;
    line-height: 100%;

    @media screen and (max-width: 1024px) {
      font-size: 8px;
    }
  }

  &__price {
    margin-top: auto;
  }
}
