.cleaner .title {
  font-size: 60px;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: 1.8px;
  text-transform: uppercase;

  @media screen and (max-width: 1440px) {
    font-size: 46px;
    letter-spacing: 1.38px;
  }

  @media screen and (max-width: 744px) {
    font-size: 40px;
    letter-spacing: 1.2px;
  }
}

.cleaner .intro {
  padding: 112px 100px 100px;
  height: 1035px;

  @media screen and (max-width: 1440px) {
    padding: 92px 80px 80px;
    height: 813px;
  }

  @media screen and (max-width: 1024px) {
    padding: 88px 60px 60px;
    height: auto;
  }

  @media screen and (max-width: 744px) {
    padding: 78px 16px 60px;
  }

  &-section {
    border-radius: 0 0 10px 10px;
    background: linear-gradient(118deg, rgba(244, 249, 247, 0.4) 0%, #f4f9f7 100%);
  }

  &__wrap {
    border-radius: 10px;
    border: 1px solid #fff;
    background: linear-gradient(114deg, rgba(38, 134, 100, 0.06) 0%, rgba(38, 134, 100, 0.1) 99.34%);
    height: 100%;
    padding: 0 100px;
    display: flex;

    @media screen and (max-width: 1440px) {
      padding: 0 60px;
    }

    @media screen and (max-width: 1024px) {
      padding-bottom: 64px;
      flex-direction: column;
    }

    @media screen and (max-width: 744px) {
      padding: 0 16px 70px;
    }
  }

  &__title {
    color: #268664;
    font-size: 180px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 5.4px;
    text-transform: uppercase;
    margin: 100px 0 20px;

    @media screen and (max-width: 1440px) {
      font-size: 160px;
      letter-spacing: 4.8px;
      margin-top: 60px;
    }

    @media screen and (max-width: 1024px) {
      font-size: 120px;
      letter-spacing: 3.6px;
      margin: 80px 0 10px;
    }

    @media screen and (max-width: 744px) {
      margin: 20px 0 10px;
    }

    @media screen and (max-width: 350px) {
      font-size: 100px;
      letter-spacing: 3px;
    }
  }

  &__subtitle {
    color: #268664;
    font-size: 50px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-bottom: 60px;

    @media screen and (max-width: 1440px) {
      font-size: 40px;
      letter-spacing: 1.2px;
      margin-bottom: 20px;
    }

    @media screen and (max-width: 1024px) {
      font-size: 30px;
      letter-spacing: 0.9px;
    }

    @media screen and (max-width: 744px) {
      font-size: 24px;
      letter-spacing: 0.72px;
      margin-bottom: 40px;
    }
  }

  &__text {
    width: 647px;
    font-size: 24px;
    font-weight: 300;
    line-height: 130%;
    letter-spacing: 1.2px;

    @media screen and (max-width: 1440px) {
      width: 434px;
      font-size: 20px;
      line-height: 150%;
      letter-spacing: 1px;
    }

    @media screen and (max-width: 1024px) {
      width: 100%;
      line-height: 130%;
    }
  }

  &__images {
    position: relative;
    width: 322px;
    height: 659px;
    margin: 82px 0 0 53px;

    @media screen and (max-width: 1440px) {
      width: 245px;
      height: 578px;
      margin: 31px 0 0 62px;
    }

    @media screen and (max-width: 1024px) {
      width: 444px;
      height: 425px;
      margin: 56px auto 0;
    }

    @media screen and (max-width: 510px) {
      width: 78vw;
      height: 167.7vw;
      margin: 80px auto 0;
    }

    & .intro__img:first-of-type {
      z-index: 1;
      bottom: 0;
      left: 0;

      @media screen and (max-width: 510px) {
        bottom: 61.2vw;
      }
    }

    & .intro__img:last-of-type {
      top: 0;
      right: 0;

      @media screen and (max-width: 510px) {
        top: 61.2vw;
      }
    }
  }

  &__img {
    height: 425px;
    position: absolute;

    @media screen and (max-width: 1440px) {
      height: 365px;
    }

    @media screen and (max-width: 1024px) {
      height: 425px;
    }

    @media screen and (max-width: 510px) {
      height: 106.5vw;
    }
  }
}

.cleaner .description {
  padding: 150px 100px 300px;

  @media screen and (max-width: 1440px) {
    padding: 150px 80px 200px;
  }

  @media screen and (max-width: 1024px) {
    padding: 150px 60px 200px;
  }

  @media screen and (max-width: 744px) {
    padding: 50px 16px 150px;
  }

  &__title {
    width: 600px;
    margin-bottom: 0;

    @media screen and (max-width: 1440px) {
      width: 450px;
    }

    @media screen and (max-width: 744px) {
      max-width: 400px;
      width: 100%;
    }

    &.es {
      width: 750px;

      @media screen and (max-width: 1440px) {
        width: 600px;
      }

      @media screen and (max-width: 744px) {
        max-width: 500px;
        width: 100%;
      }
    }
  }

  &__text {
    font-size: 24px;
    font-weight: 300;
    line-height: 130%;
    letter-spacing: 1.2px;
    margin: 20px 0 50px;

    @media screen and (max-width: 1440px) {
      font-size: 20px;
      letter-spacing: 1px;
      line-height: 150%;
    }

    @media screen and (max-width: 1024px) {
      line-height: 130%;
    }
  }
}

.cleaner .system {
  padding: 60px 100px 160px;
  position: relative;

  &__title {
    text-align: left;
    margin-bottom: 60px;
  }

  & .feedback__indicator {
    width: 42px;
    position: absolute;
    right: 387px;
    top: 444px;
  }

  &__stages {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 700px;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  &__stage {
    display: flex;
    min-height: 700px;
    padding: 100px 100px 0 184px;
    width: 100%;
    margin: 0;

    &-title {
      position: absolute;
      top: 494px;
      right: 200px;
      width: 415px;
      text-align: center;
      font-size: 40px;
      font-weight: 400;
      line-height: 100%;
      letter-spacing: 2px;
      opacity: 1;
      transition: all 0.4s ease;

      &.invisible {
        opacity: 0;
      }
    }
  }

  &__text {
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    line-height: 130%;
    letter-spacing: 0.72px;
    width: 415px;
    margin-left: 294px;
    margin-top: 274px;
    opacity: 1;
    transition: all 0.4s ease;

    &.invisible {
      opacity: 0;
    }
  }

  &__img {
    width: 247px;

    &-wrap {
      position: absolute;
      z-index: -1;
      height: 700px;
      width: 615px;
      border-radius: 35px;
      background: rgba(38, 134, 100, 0.1);
    }
  }
}

.cleaner .join {
  padding: 0 100px 312px;

  @media screen and (max-width: 1440px) {
    padding: 0 80px 184px;
  }

  @media screen and (max-width: 1024px) {
    padding: 0 60px 134px;
  }

  @media screen and (max-width: 744px) {
    padding: 0 16px 50px;
  }

  &-section {
    position: relative;
  }

  &__reasons {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 550px;

    @media screen and (max-width: 1440px) {
      max-height: 700px;
    }

    @media screen and (max-width: 1024px) {
      margin-top: 20px;
      max-height: 710px;
    }

    @media screen and (max-width: 744px) {
      max-height: fit-content;
    }
  }

  &__reason {
    padding: 40px;
    border-radius: 10px;
    margin: 0 10px 10px 0;
    background: #fff;
    min-height: auto;
    width: calc((100% - 20px) / 3);

    @media screen and (max-width: 1440px) {
      width: calc((100% - 10px) / 2);
    }

    @media screen and (max-width: 1024px) {
      padding: 30px;
    }

    @media screen and (max-width: 744px) {
      width: 100%;
      margin-right: 0;
    }

    &:nth-of-type(4) {
      @media screen and (max-width: 1440px) {
        margin-right: 0;
      }
    }

    &:nth-of-type(5) {
      margin-right: 0;
    }
  }

  &__subtitle {
    color: #268664;
    font-size: 34px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0.68px;
    margin-bottom: 30px;
  }

  &__text {
    font-size: 24px;
    font-weight: 300;
    line-height: 150%;
    letter-spacing: 0.48px;

    @media screen and (max-width: 1440px) {
      font-size: 20px;
      letter-spacing: 0.4px;
    }
  }
}

.cleaner .background {
  width: 100%;
  height: 1630px;
  background: linear-gradient(180deg, rgba(220, 220, 220, 0) 0%, #dcdcdc 100%);
  position: absolute;
  bottom: 0;
  z-index: -1;

  @media screen and (max-width: 1440px) {
    height: 961px;
  }

  @media screen and (max-width: 1024px) {
    height: 850px;
  }

  @media screen and (max-width: 744px) {
    height: 1434px;
    bottom: -200px;
  }
}

.cleaner .contact-us {
  padding: 100px;
  min-height: auto;

  @media screen and (max-width: 1440px) {
    padding: 100px 80px;
  }

  @media screen and (max-width: 1024px) {
    padding: 100px 60px;
  }

  @media screen and (max-width: 744px) {
    padding: 100px 16px;
  }

  &-section {
    border-radius: 0 0 10px 10px;
    background: #f4f9f7;
    margin-bottom: 400px;

    @media screen and (max-width: 1440px) {
      margin-bottom: 300px;
    }

    @media screen and (max-width: 1024px) {
      margin-bottom: 200px;
    }
  }

  &__title {
    margin-bottom: 50px;

    @media screen and (max-width: 1440px) {
      margin-bottom: 30px;
    }

    @media screen and (max-width: 1024px) {
      margin-bottom: 20px;
    }
  }
}
