.addresses {
  padding: 140px 100px 500px;
  min-height: calc(100vh - 200px);

  &__title {
    font-size: 34px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0.68px;
    margin-bottom: 30px;
  }

  &__container {
    animation: fadeIn 0.3s ease-in;
  }

  &__no-data {
    color: #cacaca;
    font-size: 16px;
    font-weight: 300;
    line-height: 130%;
    letter-spacing: 0.48px;
    text-transform: uppercase;
  }

  &__wrap {
    width: 690px;
  }

  &__text {
    color: #3a3a3a;
    font-size: 20px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.4px;
    margin-bottom: 30px;
  }

  &__list {
    margin-top: 30px;
  }

  & .form__radio {
    min-height: 76px;
  }

  & .form__radio-value {
    height: 100%;
    align-items: center;
    width: calc(100% - 45px);
  }

  & .form__radio-checked.checked path {
    fill: #268664;
    transition: all 0.3s ease;
  }

  &__btn {
    margin-top: 30px;
    display: flex;
    align-items: center;
  }

  &__edit {
    width: 24px;
    margin-right: 10px;
  }
}

.form {
  &__buttons {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    height: 40px;
    justify-content: space-between;
    align-self: flex-end;
  }

  &__action-btn {
    position: relative;
    width: 16px;
    height: 16px;
    z-index: 1;

    &::after {
      display: block;
      content: '';
      background: transparent;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      transition: all 0.3s ease;
      position: absolute;
      top: -3px;
      left: -3px;
    }

    &:hover::after {
      background: rgba(38, 134, 100, 0.07);
    }

    &:active::after,
    &:focus::after,
    &:focus-visible::after,
    &:focus-within::after {
      background: rgba(38, 134, 100, 0.16);
    }
  }
}
