.addresses {
  padding: 130px 100px 500px;
  min-height: calc(100vh - 200px);

  @media screen and (max-width: 1440px) {
    padding: 160px 80px 500px;
  }

  @media screen and (max-width: 1024px) {
    padding: 156px 60px 500px;
  }

  @media screen and (max-width: 744px) {
    padding: 70px 16px 500px;
    min-height: calc(100vh - 234px);
  }

  &__title {
    font-size: 34px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0.68px;
    margin-bottom: 30px;

    @media screen and (max-width: 744px) {
      font-size: 30px;
      font-weight: 300;
      letter-spacing: 0.6px;
      margin-bottom: 40px;
    }
  }

  &__container {
    animation: fadeIn 0.3s ease-in;
  }

  &__no-data {
    color: #cacaca;
    font-size: 16px;
    font-weight: 300;
    line-height: 130%;
    letter-spacing: 0.48px;
    text-transform: uppercase;
  }

  &__wrap {
    width: 690px;

    @media screen and (max-width: 1024px) {
      width: 100%;
    }
  }

  &__text {
    color: #3a3a3a;
    font-size: 20px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.4px;
    margin-bottom: 30px;

    @media screen and (max-width: 744px) {
      margin-bottom: 40px;
    }
  }

  & .form__radio {
    min-height: 76px;
  }

  & .form__radio {
    height: min-content;
  }

  & .form__radio-value {
    height: 100%;
    align-items: center;
    width: calc(100% - 34px);
  }

  & .form__radio-checked {
    min-width: 24px;
  }

  & .form__radio-checked.checked path {
    fill: #268664;
    transition: all 0.3s ease;
  }

  &__btn {
    margin-top: 30px;
    display: flex;
    align-items: center;

    @media screen and (max-width: 744px) {
      &.btn {
        max-width: 268px;
        width: 100%;
        padding: 16px 0;
        display: flex;
        justify-content: center;
      }
    }
  }

  &__edit {
    width: 24px;
    margin-right: 10px;
  }
}

.form {
  &__action-btn {
    position: absolute;
    height: 16px;
    width: 16px;
    z-index: 1;
    right: 20px;

    &:nth-last-of-type(2) {
      top: 18px;
    }

    &:last-of-type {
      bottom: 18px;
    }

    &::after {
      display: block;
      content: '';
      background: transparent;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      transition: all 0.3s ease;
      position: absolute;
      top: -3px;
      left: -3px;
    }

    &:hover::after {
      background: rgba(38, 134, 100, 0.07);
    }

    &:active::after,
    &:focus::after,
    &:focus-visible::after,
    &:focus-within::after {
      background: rgba(38, 134, 100, 0.16);
    }
  }
}
