.confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 200px;
  border-radius: 4px;
  background: #fff;
  width: 1240px;
  margin: 104px 0;
  position: relative;

  @media screen and (max-width: 1440px) {
    padding: 100px;
    width: 824px;
    margin: 100px 0;
  }

  @media screen and (max-width: 1024px) {
    padding: 100px 60px;
    width: 624px;
  }

  @media screen and (max-width: 744px) {
    width: 100%;
  }

  &.login {
    min-height: 513px;
  }

  &.conf {
    min-height: 439px;
  }

  &.reg {
    min-height: 651px;
  }

  &__close {
    position: absolute;
    top: 70px;
    right: 100px;

    @media screen and (max-width: 1440px) {
      top: 60px;
    }

    @media screen and (max-width: 1024px) {
      top: 50px;
      right: 60px;
    }
  }

  &__title {
    font-size: 34px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0.68px;
    margin: 10px 0 50px;
  }

  &__text {
    font-size: 24px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1.2px;
  }

  &__email {
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.9px;
    margin-top: 20px;
  }

  &__knowing-way {
    margin-top: 50px;
    width: 100%;
  }

  &__btn {
    margin-top: 50px;
  }
}
