.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;

  @media screen and (max-width: 744px) {
    min-height: 234px;
    height: auto;
    padding: 40px 16px;
  }

  &-section {
    background: #f7f7f7;

    &.white {
      background: #fff;
    }
  }

  &__text {
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.8px;
    color: #92a1a9;

    @media screen and (max-width: 744px) {
      max-width: 297px;
      text-align: center;
    }
  }

  &__links {
    display: flex;
    margin-top: 10px;

    @media screen and (max-width: 744px) {
      flex-direction: column;
      align-items: center;
      margin-top: 0;
    }

    & li:last-of-type .footer__link {
      margin-right: 0;
    }
  }

  &__link {
    margin-right: 10px;
    text-align: center;

    @media screen and (max-width: 744px) {
      margin-top: 10px;
      display: block;
    }
  }
}
