.settings {
  padding: 130px 100px 500px;
  min-height: calc(100vh - 200px);

  @media screen and (max-width: 1440px) {
    padding: 160px 80px 500px;
  }

  @media screen and (max-width: 1024px) {
    padding: 156px 60px 500px;
  }

  @media screen and (max-width: 744px) {
    padding: 70px 16px 500px;
    min-height: calc(100vh - 234px);
  }

  &__title {
    font-size: 34px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0.68px;
    margin-bottom: 30px;

    @media screen and (max-width: 744px) {
      font-size: 30px;
      font-weight: 300;
      letter-spacing: 0.6px;
      margin-bottom: 40px;
    }
  }

  &__password {
    width: 690px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
    position: relative;
    cursor: pointer;

    &::after {
      display: block;
      content: '';
      background: #d9d9d9;
      height: 1px;
      width: 100%;
      border-radius: 2px;
      position: absolute;
      bottom: 0;
    }

    @media screen and (max-width: 1024px) {
      width: 624px;
    }

    @media screen and (max-width: 744px) {
      width: 100%;
    }
  }

  &__label {
    color: #3a3a3a;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.6px;
  }
}
